streamlit
yfinance
pandas
numpy
plotly
requests
apscheduler
google-generativeai
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
